- if @school.errors.any?
  - content_for :notifications do
    .notification.notification-danger.animated.fadeInRight
      = icon('exclamation')
      .notification-message
        =t 'spina.notifications.alert'
        %small= @school.errors.full_messages.join('<br />').html_safe
      = link_to '#', data: {close_notification: true} do
        = icon('cross')

- content_for(:permanent_notice) do
  - unless current_account.robots_allowed?
    .permanent-notice.permanent-notice-info
      = icon('search')
      %p
        =t 'spina.pages.invisible_to_search_engines'
        %small=t 'spina.pages.invisible_to_search_engines_description'

= form_for [:admin, @school], multipart: true, html: { autocomplete: "off" } do |f|
  %header#header
    .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'
    #header_actions
      %button.button.button-primary{type: 'submit'}
        = icon('check')
        Save
      = link_to t('spina.cancel'), spina.admin_schools_path, class: 'button button button-secondary'

  #page_content.tab-content.active.well
    .horizontal-form
      .horizontal-form-group
        .horizontal-form-label
          = f.label :title
        .horizontal-form-content
          = f.text_field :title
      .horizontal-form-group
        .horizontal-form-label
          = f.label :county
        .horizontal-form-content
          = f.text_field :county
      .horizontal-form-group
        .horizontal-form-label
          = f.label :min_age
        .horizontal-form-content
          = f.text_field :min_age
      .horizontal-form-group
        .horizontal-form-label
          = f.label :max_age
        .horizontal-form-content
          = f.text_field :max_age

  - unless @school.new_record?
    .pull-right= link_to t('spina.permanently_delete'), spina.admin_school_path(@school), method: :delete, data: {confirm: t('spina.pages.delete_confirmation', subject: @school.title) }, class: 'button button-link button-danger'