%li.dd-item
  %div.dd-item-inner
    = link_to spina.edit_admin_school_path(school), class: 'button button-link button-small sortable-link' do
      = school.title
    %span.pull-right
      = link_to spina.edit_admin_school_path(school), class: 'button button-small button-link dd-nodrag' do
        = icon('pencil-outline')
        = t('spina.edit')